.options-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  
}

.option-button {
 
  padding: 4px 8px;
  border: 1px solid #3498db;
  border-radius: 25px;
  font-size: 14px;
  background-color: #f1f1f1;
  color: #333; 
}